
.dock-container {
  position: absolute;
  bottom: 12px;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.AppsContainer {
  & > .SingleApp.min {
    position: absolute;
  }
}

.LaunchpadContainer {
  .AppsSlider {
    .swiper-pagination {
      margin-top: 24px;
      display: flex;
      justify-content: center;
      gap: 12px;
      .swiper-pagination-bullet {
        cursor: pointer;
        opacity: 0.5;
        transition: all 0.5s;
        padding: 5px;
      }
      .swiper-pagination-bullet-active {
        opacity: 1;
      }
    }
  }
}

.wallpaper {
  background-image: url('https://9to5mac.com/wp-content/uploads/sites/6/2020/06/wwdc6.jpg?quality=82&strip=all');
}

.bg-frosted {
  backdrop-filter: blur(5px);
  background-color: rgb(255 255 255/ 20%);
}